#accordionExample {
    width: 500px;
    margin: 20px;
}

#employee_card {
    margin: 20px;
}

#card_list {
    display: inline;
}

.card {
    display: inline-block;
    background-color: red;
    color: green;
}